<section class="card">
  <h2>Create Branch Manager</h2>

  <form (ngSubmit)="save()">

    <label>
      Full Name
      <input [(ngModel)]="user.fullName" name="fullName" required />
    </label>

    <label>
      Phone Number
      <input [(ngModel)]="user.phone" name="phone" required />
    </label>

    <label>
      Username
      <input [(ngModel)]="user.username" name="username" required />
    </label>

    <label>
      Password
      <input type="password"
             [(ngModel)]="user.password"
             name="password"
             required />
    </label>

    <label>
  Branch
  <select [(ngModel)]="user.branchId" name="branchId" required>
    <option value="" disabled>Select branch</option>
    <option *ngFor="let b of branches" [value]="b.id">{{ b.name }}</option>
  </select>
</label>


    <button type="submit" [disabled]="loading">
      {{ loading ? 'Saving...' : 'Create User' }}
    </button>

    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</section>
